body{
    margin: 0;
    background-color: #E9EDF0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1000px;
    margin: auto;
}
/* -------header------- */
header{
    background-color: #008848;
    width: 1519.2px;
    height: 50px;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li, a{
    color: #E9EDF0;
    font-size: 12px;
}
header ul li:nth-child(2){
    background-color: #037540;
    border: solid none;
    width: 185px;
    height: 35px;
    line-height: 35px;
}
header ul li:nth-child(2) a{
    color: white;
}
header ul li:nth-child(2) i{
    color: white;
    font-size: 20px;
    margin-right: 3px;
}
header ul li:nth-child(3){
    position: relative;
}
header ul li:nth-child(3) input{
    width: 385px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding-left: 0px 30px 0px 0px;
    outline: none;
    font-size: 15px;
}
header ul li:nth-child(3) i{
    position: absolute;
    font-size: 18px;
    right: 12px;
    color: rgb(215,215,216);
    line-height: 35px;
    cursor: pointer;
}
header ul li:nth-child(4){
    float: left;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    line-height: 15px;
    width: 92px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 10px 5px;
    box-sizing: border-box;
}
header ul li:nth-child(4) a{
    color: #E9EDF0;
    
}
header ul li:nth-child(5) button{
    color: aliceblue;
    width: 140px;
    height: 50px;
    padding: 0px 10px;
    background-color: #037540;
    border: none;
    font-size: 12px;
}
header ul li:nth-child(5) i{
    font-size: 22px ;
}
/* nav */
nav{
    margin-left: 280px;
}
.anhbia{
    margin: 5px 0;
    margin-bottom: 5px 0;
}
/* -----section----- */
section{
    margin-left: 280px;
 }
.groupcate {
    width: 980px;
    height: 131.8px;
    display: block;
    overflow: hidden;
    margin: 4px 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.namegroup {
    display: block;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}
.listgroup {
    display: block;
    overflow: hidden;
}
.listgroup a {
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    width: 10%;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #288ad6;
}
.listgroup img{
    margin-left: 16px;
}
.listgroup span{
    margin-left: 22px;
}
/* -----article ----- */
article{
    background-color: #FCF2E7;
    width: 980px;
    margin-left: 285px;
}
article ul{
    display: flex;
    justify-content: space-between;
}
.grouptitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 51.6px;
    text-transform: uppercase;
    color: #ff7b01;
    padding-left: 10px;
    background-color: #FCF2E7;
}
article i{
    margin-top: 15px;
    max-width: 665px;
    font-size: 20px;
    color: #ff7b01;
    margin: auto;
}
article ul li{
    width: 100px;
    height: 40px;
    border: 1px solid #ff7b01;
    background-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
    max-width: 665px;
}
article a{   
    color: #ff7b01;
    font-weight: bold;
    min-height: 38px;
    font-size: 13px;
    padding: 2px 3px;
}
/* aside  */
.grcol25{
    margin-left: 285px;
}
.col-25{
    width: 245px;
    float: left;
    margin: 0 auto 0;
    border: 1px solid #EEEEEE;
}
.prod{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    height: 285px;
    padding: 5px;
    position: relative;
}
.prod .text{
    font-size: 14px;
    width: 260.4px;
    height: 50px;
}
.prod img{
    margin-left: 35px;
}
.prod .price{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #b10e0e;
    font-weight: bold;
    font-weight: normal;
}
aside del {
    color: #757575;
    margin-left: 2px;
}
aside label{
    color: #fff;
    background-color: #de2000;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 10px;
}
aside .buy{
    display: block;
    overflow: hidden;
    font-size: 13px;
    color: #008848;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    left: 20px;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #008848;
}
aside .den{
    text-align: center;
    float: left;
}
aside .Spkhac{
    color: #0064c2;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    width: 980px;
    height: 50px;
    padding-top: 18px;
}
/* footer */

footer{
    margin-right: 250px;
}
.boxfooter{
    margin-left: 285px;
}
.boxtrai{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 490px;
    height: 50px;
    vertical-align: middle;
}
.boxtrai i{
    min-width: 27px;
    width: 27px;
    height: 30px;
    margin-right: 15px;
}
.boxtrai p{
    width: 48%;
    font-size: 13px;
}
.boxphai{
    border-left: 1px solid #ccc;
    color: #000;
    background-color: #FFFFFF;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    width: 490px;
    height: 50px;
    vertical-align: middle;
}
footer a{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.copyright {
    display: block;
    width: 980px;
    margin: auto;
    font-size: 10px;
    color: #999;
    text-align: center;
    background: #e9edf0;
    padding: 5px 0;
    margin-left: 283px;
}
.boxcall {
    width: 980px;
    height: 33px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    overflow: hidden;
    padding: 10px 10px 5px;
    background: #fff;
    color: #008848;
}
.boxleft{
    width: 490px;
    height: 210px;
    float: left;
    background-color: #FFFFFF;
}
.boxleft a{
    border: none;
    float: left;
    overflow: hidden;
    font-size: 12px;
    color: #288ad6;
    line-height: 28px;
    text-align: left;
    padding: 0;
    width: 33%;
}
.boxleft .tuyendung{
    background-color: #ff4500;
    color: #fff !important;
    padding-left: 0 !important;
    box-sizing: border-box;
    border-radius: 2px;
    text-indent: 8px;
    width: 80px !important;
    margin-right: calc(33% - 80px);
}
.boxright{
    width: 490px;
    height: 210px;
    float: left;
    background-color: #FFFFFF;
}
.weblogo {
    display: inline-block;
    padding: 10px;
}
.dkbhx a{
    color: #008848;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 5px;
}
.dkbhx i{
    width: 18px;
    color: #489AD9;
}
.htbhx a{
    color: #489AD9;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 5px;
}
.htbhx i{
    width: 18px;
    color: #489AD9;
}
.htbhx span{
    font-weight: 700;
    color: #a30a1d;
}
.baohiembhx img{
    width: 100px;
    height: 40px;
    margin: 5px 5px 0 5px;
    padding-top: 4px;
}